1. Buatlah program untuk mencari siapa yang tertua dari 3 orang.
    * Input: 
    ```
        orang_1 = 40 
        orang_2 = 25 
        orang_3 = 37
    ```
    * Output:
        ```
        Orang yang tertua adalah orang pertama
        ```

In [1]:
def tertua():
    orang1 = input("Umur orang pertama:")
    orang2 = input("Umur orang kedua:")
    orang3 = input("Umur orang ketiga:")

    if int(orang1) > int(orang2) and int(orang1) > int(orang3):
        print("Orang yang tertua adalah orang pertama")
    elif int(orang2) > int(orang1) and int(orang2) > int(orang1):
        print("Orang yang tertua adalah orang kedua")
    else:
        print("Orang tertua adalah orang ketiga")

In [2]:
tertua()

Orang tertua adalah orang ketiga

2. Sebuah perusahaan akan memberikan bonus 5% dari gaji masing-masing pegawai kepada pegawainya jika pegawainya telah bekerja selama minimal 5 tahun.
    * Input:
```
kasus 1: gaji = 5000 ; masa bakti = 2
kasus 2: gaji = 10000; masa bakti = 6
```
    * Output:
```
kasus 1: Tidak ada bonus
kasus 2: Bonus adalah 500
```

In [ ]:
gaji = 10000
masa_bakti = 6

3. Buatlah program untuk mengecek apakah suatu tahun adalah tahun kabisat atau tidak. Jika tahun kabisat, maka tahun dapat dibagi dengan 4, untuk tahun dengan akhiran `'00` maka harus bisa dibagi dengan 400.
    * Input: Tahun    
```
kasus 1: tahun = 2020
kasus 2: tahun = 2013
```
    * Output: Kabisat atau bukan.
```
kasus 1: Kabisat
kasus 2: Bukan kabisat
```

In [2]:
tahun = 2013

4. Diberikan 2 variabel yaitu:
    * umur:
    * menikah: (Y/N)

Gunakan aturan berikut untuk membuat program: 
* Jika sudah menikah, maka tampilkan "Hanya bisa bekerja di perkotaan"
* Jika belum menikah, maka cek umur.
    * Jika berumur 20-40 maka tampilkan "Bisa bekerja dimana saja."
    * Jika berumur diatas 40, maka tampilkan "Hanya bisa bekerja di perkotaan".
* Selain itu, tampilkan(print) "ERROR".

Note: Ini hanya contoh soal, tidak bermaksud menyinggung pihak manapun.

Contoh:
Input:
```
kasus 1: umur = 25; menikah = Y
kasus 2: umur = 26; menikah = N
kasus 3: umur = 45; menikah = N
kasus 4: umur = 17; menikah = N
```
Output:
```
kasus 1: Hanya bisa bekerja di perkotaan
kasus 2: Bisa bekerja dimana saja
kasus 3: Hanya bisa bekerja di perkotaan
kasus 4: ERROR
```

In [3]:
umur = 17
menikah = 'N'