1. Buatlah sebuah class dengan nama `Meter` yang memiliki atribut berupa `panjang`.
    * Di dalam kelas tersebut buatlah 1 method yang bernama `convert_feet`.
    * Method tersebut akan mengonversi meter menjadi feet  (1m = 3.28ft)
    * `return` hasil dari method tersebut

ekspektasi:
```
objek1 = Meter(2)

feet = objek1.convert_feet()
print(feet)
```

Hasil:
```
6.56
```

2. Buatlah class dengan nama `SegitigaSiku` yang memiliki atribut berupa `alas` dan `tinggi`.
    * Di dalam kelas tersebut buatlah 3 method yang bernama `sisi_miring`, `keliling` dan `luas`.
    * `sisi_miring` menghitung panjang sisi miring pada segitiga siku-siku dengan menggunakan Pythagoras. (Gunakan `x**0.5` untuk akar)
    * `keliling` menghitung panjang keliling dari segitiga tersebut.
    * `luas` menghitung luas dari segitiga tersebut.
    * `return` semua hasil dari mathod tersebut!

ekspektasi:
```
segitiga1 = SegitigaSiku(6,8)

hypotenuse = segitiga1.sisi_miring() 
perimeter = segitiga1.keliling()  
area = segitiga1.luas()  

print(hypotenuse)
print(perimeter)
print(area)
```
Hasil:
```
10
24
24
```

3. Buatlah class `Mahasiswa` dan inisialisasi dengan atribut `nama` dan `nim`. Dan buatlah method untuk:
    * `__str__` - Menampilkan nama dan nim dari mahasiswa
    * `setUmur` - Menambahkan informasi umur ke objek mahasiswa
    * `setNilai`- Menambahkan informasi nilai ke objek mahasiswa

ekspektasi:
```
budi = Mahasiswa('Budi',16520123)
budi.setUmur(17)
budi.setNilai(92)

print(budi)
print(budi.umur)
print(budi.nilai)
```

hasil
```
nama = Budi, NIM = 16520123
17
92
```