1. Lengkapi bagian yang diberi tanda `$$$$$` agar objek berikut dapat menjadi integer!

In [3]:
int('1000')

1000

2. Adi sedang berbelanja barang di supermarket, dengan harga terlampir di bawah ini. Adi membeli 2 potong ayam, 3 potong daging sapi, 2 sayur bayam, dan 1 susu. Tuliskan biaya yang harus dibayar Adi sebagai operasi di bawah ini dan jalankan perhitungannya.

| barang      | harga  |
|-------------|--------|
| ayam        | 20000  |
| daging sapi | 100000 |
| sayur bayam | 10000  |
| susu        | 15000  |

In [4]:
def payment():
    ayam = input("Jumlah ayam yang dibeli:")
    sapi = input("Jumlah sapi yang dibeli:")
    bayam = input("Jumlah bayam yang dibeli:")
    susu = input("Jumlah susu yang dibeli:")

    biaya = int(ayam)*20000 + int(sapi)*100000 + int(bayam)*10000 + int(susu)*15000

    return biaya

In [5]:
payment()

375000

3. Tanpa menggunakan operator modulo `%`. Cobalah hitung modulo dari 19 dan 4.

hint: pakai floor division `//`

expected output = 3

In [10]:
19 - ((19//4)*4)

3

4. Cek isi variabel `y` ketika kalian masukkan `1+1000`. Apa yang akan terjadi? Kemudian ganti isi `y` dengan `42`.

In [2]:
y = 1+1000
y

1001

In [3]:
y = 42
y

42

5. Misal anda sedang menghitung berapa banyak orang yang mengikuti kelas Pacmann. Kalian mengetahui bahwa untuk sesi pagi (`sesi_pagi`) dihadiri oleh 100 orang, dan sesi malam (`sesi_malam`) dihadiri oleh 60 orang.
   - Buatlah variabel sesi pagi dan malam dan isi banyaknya orang yang menghadiri sesi tersebut.
   - Kemudian, buatlah variabel `sesi_kelas` dengan menjumlah 2 variabel tersebut.
   - Misal ada 8 kali `sesi_kelas`. Ubah isi di dalam `sesi_kelas` dengan banyaknya orang dikali dengan banyak sesi tersebut.

In [11]:
sesi_pagi = 100
sesi_malam = 60
n = 8

sesi_kelas = sesi_pagi+sesi_malam
total_siswa = n*(sesi_kelas)

In [13]:
sesi_kelas

160

In [14]:
total_siswa

1280

6. Buatlah variabel `saya` dengan string nama panggilan anda sebagai isinya. Kemudian tampilkan isi `saya` sehingga nama anda ditampilkan dengan huruf kapital.

In [22]:
saya = 'zoe'
saya.upper()

'ZOE'

7. Stephan sedang mencoba untuk melamar sebuah pekerjaan. Dia menginput namanya di variabel `nama`. Namun, tanpa sadar dia salah mengetik nama depannya menjadi `stephan purnomo`. Lebih fatal lagi, ternyata dia lupa untuk membuat namanya memiliki huruf kapital di tiap kata.
    - Koreksi nama Stepan di variabel `nama_revisi` dengan menggunakan slicing dari `nama`. Output: `stepan purnomo`
    - Kemudian, buat `nama_revisi` sehingga tiap kata di dalam variabel tersebut memiliki huruf awal berkapital.

In [23]:
nama = 'stephan purnomo'

In [27]:
nama_revisi = nama[:4]+nama[5:]
nama_revisi.title()

'Stepan Purnomo'