# Tugas Python 2

* Silakan download dan kerjakan soal berikut dimanapun (laptop pribadi/google colab/etc.)
* Setelah selesai mengerjakan, upload file ini di tempat yang telah disediakan pada platform.
* Peserta **wajib** memberi nama file seperti berikut: {username}-python-2.ipynb
* **Contoh: johndoe1-t123-python-2.ipynb**
* Username dapat dilihat di dalam akun anda.
* Jika format nama tidak sesuai dengan ketentuan, maka tugas **tidak akan dinilai**.
* Mohon **jangan mengubah** nama variabel yang telah diberikan.
* Pada titik-titik yang diberikan masukkanlah variabel/kode yang sesuai.
* Namun anda diperbolehkan untuk menambah kode apapun apapun.
---

## Contoh Menjawab

**Contoh Jawaban Benar**

0. Suatu organisasi memiliki jumlah anggota 120. Ketika akan memulai rapat, jumlah peserta harus minimal $0.5n + 1$. Pada suatu hari, jumlah peserta yang hadir adalah 50. Tentukan rapat dilaksanakan atau tidak.

In [ ]:
minimal = ... #ganti titik-titik dengan minimum jumlah peserta
peserta_sekarang = 50

#ganti semua titik-titik dengan kode yang tepat
...:
    jawaban_0 = 'Jadi rapat.'
...:
    jawaban_0 = 'Tidak jadi rapat.'

In [1]:
anggota = 120
minimal = 0.5*anggota + 1
peserta_sekarang = 50

if peserta_sekarang >= minimal:
    jawaban_0 = 'Jadi rapat.'
else:
    jawaban_0 = 'Tidak jadi rapat.'

print(jawaban_0) # ini tidak wajib, bisa digunakan jika anda ingin mengecek jawaban anda

Tidak jadi rapat.

**Contoh Jawaban yang salah**.

0. Tono mempunyai 2 layangan, Budi mempunyai 3 layangan. Berapakah jumlah layangan mereka?

In [ ]:
jawaban_0 = ... # ganti titik titik dengan jawaban anda

INI SALAH

In [ ]:
jawaban_0 = print(2+3)

INI SALAH

In [ ]:
jawaban_0
print(2+3)

INI SALAH

In [ ]:
jawaban_0 = 
layangan_budi = 3
layangan_tono = 2
print(2+3)

INI TIDAK BOLEH

In [ ]:
layangan_budi = 3
layangan_tono = 2
print(layangan_budi+layangan_tono)

---
---
## Soal

1. Untuk lulus mata kuliah statistika, perlu nilai akhir minimal 55. Gunakan operator _comparison_ untuk menentukan apakah Amir lulus mata kuliah tersebut atau tidak, bila diberikan nilai akhir Amir adalah 70.

In [ ]:
nilai_amir = 70
nilai_minimal = 55

jawaban_1 = ... #ganti titik-titik dengan jawaban Anda

2. Tentukan nilai kebenaran dari pernyataan berikut (True/False).\
$(13>12)$ OR ($11<10$ AND $9==8$)

In [ ]:
jawaban_2 = ... #ganti titik-titik dengan jawaban Anda

3. Tentukan apakah 123456789 habis dibagi 11 atau tidak.

In [7]:
bilangan = 123456789

if ... #ganti titik-titik dengan kondisi yang harus dipenuhi
    jawaban_3 = 'Habis dibagi 11'
else:
    jawaban_3 = 'Tidak habis dibagi 11'

4. Sistem keamanan yang dipasang di suatu bendungan akan memberikan alarm bahaya ketika tinggi air mencapai lebih dari 950 cm. Apabila tinggi air hari ini adalah 945 cm, tentukan apakah sistem akan memberikan alarm atau tidak.

In [ ]:
hari_ini = ... #ganti titik-titik dengan tinggi air hari ini
batasan = 950

#ganti semua titik-titik dengan kode yang tepat
...:
    jawaban_4 = 'Bahaya!'
...:
    jawaban_4 = 'Tidak bahaya.'

5. Pak Man berbelanja di sebuah minimarket. Pak Man membeli 2 kg telur, 2 kotak susu, dan 5 bungkus mie instan. Harga masing-masing barang diberikan oleh tabel berikut.

|Barang|Harga|
|------|-----|
|Telur|Rp 17000/kg|
|Susu|Rp 28000/kotak|
|Mie instan|Rp 2000/bungkus|

Pak Man membawa uang Rp 100.000. Cek apakah uang Pak Man pas untuk membayar belanjaannya atau tidak.

In [ ]:
total_belanja = ... #ganti titik-titik dengan total belanja Pak Man
uang_pakman = 100000

#ganti titik-titik dengan kode yang tepat
...:
    jawaban_5 = 'Uang lebih.'
...:
    jawaban_5 = 'Uang pas.'
...:
    jawaban_5 = 'Uang kurang.'

6. Arin mengikuti ujian mata kuliah Pemrograman. Jika nilai ujiannya di bawah 75, ia harus mengikuti perbaikan. Sebaliknya, jika nilai ujiannya 75 atau lebih, ia tidak perlu melakukan apa-apa. Ternyata, nilainya adalah 74. Apakah Arin memerlukan perbaikan ujian? Lengkapi _syntax_ di bawah ini.

In [ ]:
nilai_arin = ... #ganti titik-titik dengan nilai Arin
nilai_minimal = 75

#ganti semua titik-titik dengan kode yang tepat
...:
    pass
...:
    jawaban_6 = 'Perlu perbaikan.'

7. Pada suatu agensi model, seleksi kandidat model dilakukan berdasarkan tinggi badan. Rata-rata tinggi model di agensi tersebut adalah 165 cm. Agensi menginginkan model yang memiliki tinggi yang seragam dengan rata-rata, namun mereka masih mau menerima model dengan toleransi tinggi 5 cm dari rata-rata. Artinya, kandidat yang diterima adalah kandidat dengan tinggi minimal 5 cm di bawah rata-rata sampai maksimal 5 cm di atas rata-rata. Apakah kandidat dengan tinggi 167 cm akan diterima agensi tersebut?

In [ ]:
tinggi_model = 167

#ganti semua titik-titik dengan kode yang benar
...:
    jawaban_7 = 'Diterima'
...:
    jawaban_7 = 'Tidak diterima'

8. Suatu sekolah menyeleksi calon siswa baru berdasarkan nilai tes Matematika dan Bahasa Inggris. Calon siswa diterima di sekolah tersebut apabila nilai tes keduanya tidak ada yang kurang dari 75. Calon siswa yang diterima akan dibagi ke dalam tiga kelas: Kelas A, Kelas B, dan Kelas C. Kriterianya adalah sebagai berikut:
* Kelas A: nilai Matematika > 85 dan nilai Bahasa Inggris $\geq$ 80
* Kelas B: nilai Matematika > 80 dan nilai Bahasa Inggris $\geq$ 77.5
* Sisanya akan masuk ke kelas C\
\
Rudi mendapatkan nilai tes Matematika 84 dan tes Bahasa Inggris 77.5. Apakah Rudi diterima sebagai siswa sekolah tersebut? Jika ya, masuk ke kelas manakah dia?

In [14]:
nilai_mtk = ... #ganti titik-titik dengan nilai Matematika Rudi
nilai_ing = ... #ganti titik-titik dengan nilai Bahasa Inggris Rudi

#ganti semua titik-titik dengan kode yang benar.
...:
    ...:
        jawaban_8 = 'Kelas A'
    ...:
        jawaban_8 = 'Kelas B'
    ...:
        jawaban_8 = 'Kelas C'
...:
    jawaban_8 = 'Tidak diterima'

9. Keluarkan semua bilangan kelipatan 8 yang nilai kuadratnya di bawah 600.

In [ ]:
i = 1
jawaban_9 = ... #ganti dengan angka yang tepat

#ganti titik-titik dengan kode yang tepat
while (8*i)**2 < jawaban_9:
    ...
    i+=1

10. Hitung jumlah kuadrat dari bilangan bulat mulai dari 1 sampai 10.\
$$1^2 + 2^2 + \dots + 10^2$$

In [1]:
jawaban_10 = 0

#ganti semua titik-titik dengan kode yang tepat
for ...:
    jawaban_10+=...

11. Keluarkan semua bilangan mulai dari 10 sampai 50, loncat 4.\
$$10, 14, 18, \dots$$

In [ ]:
jawaban_11 = ... #ganti titik-titik di samping dengan bilangan awalnya.

#tulis kodenya dibawah ini
...

12. Jabarkan huruf dari kata 'onomatopoeia', namun hentikan penjabaran ketika program sudah mengeluarkan huruf 't'. _Expected output_:
```
o
n
o
m
a
t
```

In [ ]:
kata = 'onomatopoeia'

#ganti titik-titik dengan kode yang tepat
for jawaban_12 in kata:
    ...

13. Keluarkan semua bilangan asli kurang dari 21, namun bilangan kelipatan 4 tidak diikutsertakan.

In [ ]:
#ganti semua titik-titik dengan kode yang tepat
jawaban_13 = 0

while ...:
    ...
    if ...:
        ...
    ...

14. Berapa jumlah semua bilangan asli kurang dari atau sama dengan 50, namun bilangan kelipatan 3 tidak diikutsertakan? Dengan kata lain, hitunglah $1+2+4+5+7+8+\dots+50$.

In [33]:
jawaban_14 = 0

#ganti titik-titik dengan kode yang tepat
...:
    ...:
        ...
    jawaban_14+=...

15. Keluarkan semua bilangan asli yang nilai kuadratnya lebih dari 20, dengan syarat:
* bilangan yang habis dibagi 3 atau 4 tidak ikut dikeluarkan, dan
* jika nilai kuadratnya sudah melewati 625, maka program berhenti.

In [ ]:
#ganti titik-titik dengan kode yang tepat
for jawaban_15 in range(...,...):
    if ...:
        ...
    ...