In [ ]:
import numpy as np

# **Traveling Salesman Problems (TSP)**

**Data Koordinat**

Point | Coordinates
:-: | :-:
1 | `(172.82, 416.83)`
2 | `(175.42, 218.31)`
3 | `(235.28, 153.43)`
4 | `(324.33, 144.75)`
5 | `(568.77, 80.53)`
6 | `(881.05, 275.20)`
7 |  `(922.24, 306.96)`
8 |  `(599.66, 357.54)`
9 |  `(679.05, 295.80)`
10 | `(645.52, 236.42)`
11 | `(548.03, 129.41)`
12 | `(427.23, 258.12)`
13 | `(326.22, 276.38)`

1. Buat koordinat

In [ ]:
coor_1 = np.array([172.82, 416.83])
coor_2 = np.array([175.42, 218.31])
coor_10 = np.array([645.52, 236.42])
coor_3 = np.array([235.28, 153.43])

2. Cari rute

In [ ]:
rute_1_2 = ((coor_1[0]-coor_2[0])**2 + (coor_1[1]-coor_2[1])**2)**0.5
rute_2_10 = ((coor_2[0]-coor_10[0])**2 + (coor_2[1]-coor_10[1])**2)**0.5
rute_10_3 = ((coor_10[0]-coor_3[0])**2 + (coor_10[1]-coor_3[1])**2)**0.5
rute_3_1 = ((coor_3[0]-coor_1[0])**2 + (coor_3[1]-coor_1[1])**2)**0.5

In [ ]:
print('rute_1_2 =', rute_1_2)
print('rute_2_10 =', rute_2_10)
print('rute_10_3 =', rute_10_3)
print('rute_3_1 =', rute_3_1)

3. Cari jarak total

In [ ]:
jarak_total = rute_1_2 + rute_2_10 + rute_10_3 + rute_3_1
print('Jarak total =', jarak_total)